In [70]:
# Import libraries
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import psycopg2

# below imports are used to print out pretty pandas dataframes
from IPython.display import display, HTML

%matplotlib inline
plt.style.use('ggplot')

In [71]:
# notes_pd = pd.read_csv("/scratch/gobi1/johnchen/new_git_stuff/multimodal_fairness/data/physionet.org/files/mimiciii/1.4/NOTEEVENTS.csv")

/h/johnchen/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2785: DtypeWarning: Columns (4,5) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [73]:
# notes_pd[notes_pd["HADM_ID"] == 111]

Empty DataFrame
Columns: [ROW_ID, SUBJECT_ID, HADM_ID, CHARTDATE, CHARTTIME, STORETIME, CATEGORY, DESCRIPTION, CGID, ISERROR, TEXT]
Index: []

In [75]:
# del notes_pd

In [2]:
import psycopg2
user = 'johnchen'
password = 'password'
dbname = 'mimic'
schema = 'mimiciii'
host = 'mimic'
# writing review papers such as: https://arxiv.org/pdf/1911.03977.pdf
query_schema = 'SET search_path to ' + schema + ';'

con = psycopg2.connect(dbname=dbname, user=user, password=password, host=host)

# Let's see what we're dealing with 
For now, do this in PSQL prompt.

In [29]:
query = query_schema + """
SELECT count(icustay_id) as icu_counts
FROM icustays
group by hadm_id
ORDER BY icu_counts DESC
"""
df = pd.read_sql_query(query, con)
df.head()

   icu_counts
0           7
1           7
2           6
3           6
4           6

In [31]:
query = query_schema + """
SELECT count(hadm_id) as hadm_counts
FROM icustays
group by icustay_id
ORDER BY hadm_counts DESC
"""
df = pd.read_sql_query(query, con)
df.head()

   hadm_counts
0            1
1            1
2            1
3            1
4            1

# Now, we will try and see if we can join the notes back

In [33]:
query = query_schema + """
SELECT *
FROM noteevents
where SUBJECT_ID=28090 and HADM_ID=121590
"""
df = pd.read_sql_query(query, con)
df.head()

,row_id,subject_id,hadm_id,chartdate,charttime,storetime,category,description,cgid,iserror,text
0,33813,28090,121590,2187-05-18,NaT,NaT,Discharge summary,Report,NaN,None,Admission Date: [**2187-5-9**] D...
1,85391,28090,121590,2187-05-16,NaT,NaT,Echo,Report,NaN,None,PATIENT/TEST INFORMATION:\nIndication: Left ve...
2,213587,28090,121590,2187-05-15,NaT,NaT,ECG,Report,NaN,None,Possible rapid atrial fibrillation followed by...
3,213588,28090,121590,2187-05-12,NaT,NaT,ECG,Report,NaN,None,Sinus rhythm\nConsider left ventricular hypert...
4,213589,28090,121590,2187-05-10,NaT,NaT,ECG,Report,NaN,None,Probable atrial flutter with 2:1 A-V block. P...

In [60]:
query = query_schema + """
SELECT *
FROM noteevents
where SUBJECT_ID=28090 and HADM_ID=121590 and category='Discharge summary'
"""
df = pd.read_sql_query(query, con)
display(df)

'''
Justify decisions that we made regarding preprocessing, and methodology
Fairness summary
Non-causal leakage for Decompensation
Timestamp needed for decomp prediction causal leakage
Actual modelling approaches:
Truncated back prop
Windows approach 

0. BOW
1. "Reg" NN (CNN from clinical/ rnn with truncated backprop); 
2. BERT
'''

,row_id,subject_id,hadm_id,chartdate,charttime,storetime,category,description,cgid,iserror,text
0,33813,28090,121590,2187-05-18,None,None,Discharge summary,Report,None,None,Admission Date: [**2187-5-9**] D...

'\nJustify decisions that we made regarding preprocessing, and methodology\n'

# Try using the preprocessing used by Aggar..

In [61]:
import re
import json

from nltk import sent_tokenize, word_tokenize

In [62]:
SECTION_TITLES = re.compile(
    r'('
    r'ABDOMEN AND PELVIS|CLINICAL HISTORY|CLINICAL INDICATION|COMPARISON|COMPARISON STUDY DATE'
    r'|EXAM|EXAMINATION|FINDINGS|HISTORY|IMPRESSION|INDICATION'
    r'|MEDICAL CONDITION|PROCEDURE|REASON FOR EXAM|REASON FOR STUDY|REASON FOR THIS EXAMINATION'
    r'|TECHNIQUE'
    r'):|FINAL REPORT',
    re.I | re.M)


def pattern_repl(matchobj):
    """
    Return a replacement string to be used for match object
    """
    return ' '.rjust(len(matchobj.group(0)))


def find_end(text):
    """Find the end of the report."""
    ends = [len(text)]
    patterns = [
        re.compile(r'BY ELECTRONICALLY SIGNING THIS REPORT', re.I),
        re.compile(r'\n {3,}DR.', re.I),
        re.compile(r'[ ]{1,}RADLINE ', re.I),
        re.compile(r'.*electronically signed on', re.I),
        re.compile(r'M\[0KM\[0KM')
    ]
    for pattern in patterns:
        matchobj = pattern.search(text)
        if matchobj:
            ends.append(matchobj.start())
    return min(ends)


def split_heading(text):
    """Split the report into sections"""
    start = 0
    for matcher in SECTION_TITLES.finditer(text):
        # add last
        end = matcher.start()
        if end != start:
            section = text[start:end].strip()
            if section:
                yield section

        # add title
        start = end
        end = matcher.end()
        if end != start:
            section = text[start:end].strip()
            if section:
                yield section

        start = end

    # add last piece
    end = len(text)
    if start < end:
        section = text[start:end].strip()
        if section:
            yield section


def clean_text(text):
    """
    Clean text
    """

    # Replace [**Patterns**] with spaces.
    text = re.sub(r'\[\*\*.*?\*\*\]', pattern_repl, text)
    # Replace `_` with spaces.
    text = re.sub(r'_', ' ', text)

    start = 0
    end = find_end(text)
    new_text = ''
    if start > 0:
        new_text += ' ' * start
    new_text = text[start:end]

    # make sure the new text has the same length of old text.
    if len(text) - end > 0:
        new_text += ' ' * (len(text) - end)
    return new_text


def preprocess_mimic(text):
    """
    Preprocess reports in MIMIC-III.
    1. remove [**Patterns**] and signature
    2. split the report into sections
    3. tokenize sentences and words
    4. lowercase
    """
    for sec in split_heading(clean_text(text)):
        for sent in sent_tokenize(sec):
            text = ' '.join(word_tokenize(sent))
            yield text.lower()

In [63]:
# there are 27 possible matches!

In [64]:
df["row_id"].shape

(1,)

In [65]:
for index, row in df.iterrows():
    gen_ =  preprocess_mimic(row["text"])
    for out in gen_:
        print(out)

admission date : discharge date : date of birth : sex : m service : cardiothoracic allergies : aspirin / ibuprofen / motrin attending : chief complaint : tracheobronchomalacia .
major surgical or invasive
procedure :
flexible bronchoscopy with bronchoalveolar lavage of the right lower lobe , right thoracotomy , right upper lobe wedge resection , thoracic tracheoplasty with mesh ; right mainstem bronchoplasty and bronchus intermedius bronchoplasty with mesh ; left mainstem bronchoplasty with mesh .
history of present illness : mr. is a 67-year-old gentleman who has had cough , dyspnea and recurrent pulmonary infections .
he was found to have severe tracheobronchomalacia on bronchoscopy .
he had a stent trial and responded favorably in terms of his cough and dyspnea .
past medical
history :
recurrent pneumonias , asthma , bph , sinusitis , status post left meniscectomy of the left knee , status post turp , status post three sinus surgeries , status post tonsillectomy , status post ankle plating , status post vasectomy , status post recurrent inguinal hernia repairs .
social
history :
a 34-pack-year smoker , discontinued 32 years ago .
occupation : retired insurance and carpenter .
lives with his family .
he occasionally drinks beer , and he had exposure history to asbestos while in the navy .
family
history :
mother had heart failure .
his father had copd and a question of neck cancer .
physical
exam :
general : 67 year-old male in no apparent distress heent : normocephalic , mucus membranes moist neck : supple no lymphadenopathy card : rrr , normal s1 , s2 no murmur/gallop or rub resp : decreased breath sounds otherwise clear gi : bowel sounds positive , abdomen soft non-tender/non-distended extr : warm no edema incision : right thoracotomy site clean/dry intact neuro : non-focal pertinent results : wbc-8.0 rbc-3.59* hgb-11.0* hct-32.4* plt ct-381 wbc-8.5 rbc-3.99* hgb-12.2* hct-36.9* plt ct-229 blood pt-14.2* ptt-30.3 inr ( pt ) -1.2* glucose-120* urean-17 creat-1.0 na-134 k-4.7 cl-100 hco3-28 glucose-125* urean-22* creat-1.0 na-137 k-4.7 cl-104 hco3-26 blood culture , routine ( final ) : no growth .
cta chest w & w/o c & recons , non-coronary ct coronary angiography
findings :
ct coronary angiography revealed a right dominant system with normal origins and orientations of the left and right main coronary arteries .
the right coronary artery was technically difficult to evaluate due to artifact from cardiac motion and change as well as a high heart rate during the examination .
there is apparent noncalcified plaque in the proximal and mid course of the right coronary artery .
there is a short left main coronary artery , and there is nonobstructive calcified plaque in the proximal as well as mid lad .
similarly , there is mixed plaque in a patent d1 .
there is also minimal nonobstructive mixed plaque in the lcx .
ct cine images of left ventricle showed normal wall motion .
the left ventricular end-diastolic volume was 220 cc , the end-systolic volume was 178 cc , the stroke volume was 42 cc , and the ejection fraction was 19 % .
the coronary calcium score was 294 agatston with bulk of the calcium in lad .
conclusion : global cardiac dysfunction with an ejection fraction of 19 % .
very limited evaluation of the right coronary artery due to motion artifact and a very high heart rate during the examination .
within these limitations , there is nonobstructive mixed plaque seen in the right coronary artery as well as the left anterior descending coronary artery .
there are multiple calcified pleural plaques and multifocal areas of pleural thickening consistent with prior asbestos exposure .
there are scattered ill- defined ground-glass opacities in the left upper lobe which are new since the scan of and most likely are consistent with an infectious or inflammatory etiology .
there is a small right basal effusion .
there are several scattered mediastinal lymph nodes with the largest measuring 15 x 14 mm in a pretracheal location .
there are bilateral pulmonary emboli .
there is no aortic dissection .
the coronary arteries arise from the normal expected anatomic location .
there is a small hiatus hernia .
the visualized liver and spleen appear unremarkable .
conclusion : 1 .
multiple bilateral pulmonary emboli with no aortic dissection and normal origin of the coronary arteries .
2 .
calcified pleural plaques and pulmonary nodules along with pleural thickening consistent with asbestos exposure .
3 .
ground-glass opacities in the left upper lobe , most likely infectious or inflammatory , however , a followup chest ct would be helpful to ensure complete resolution of these pulmonary opacities given the background emphysema and prior asbestos exposure .
brief hospital course : mr. was admitted on underwent flexible bronchoscopy with bronchoalveolar lavage of the right lower lobe , right thoracotomy , right upper lobe wedge resection , thoracic tracheoplasty with mesh ; right mainstem bronchoplasty and bronchus intermedius bronchoplasty with mesh ; left mainstem bronchoplasty with mesh .
he was extubated in the operating room and taken to the sicu for further management with drain , foley and epidural managed by the acute pain service .
on pod 130 's , required increase in epidural rate for better pain control which dropped his bp requiring pressors and iv fluid boluses .
he was on a clear liquid diet which he tolerated .
on pod # 2 the epidural was decreased and given iv dilaudid for pain .
he was weaned off the pressors .
his oxygen requirements increased , hr remained st 130 's and not responding to iv lopressor .
his cardiac enzymes were negative .
he was gently diuresed , aggressive pulmonary toileting was continued .
he developed afib and was administered an amiodarone bolus/drip and converted to sr. on pod # 3 the epidural was removed and his pain was managed with a dilaudid pca with good control .
his oxygenation improved , the cxr revealed atelectasis .
on pod # 4 the foley was removed , the drain was removed .
cardiology was consulted who recommended amiodarone po for 1 month , an echocardiogram which revealed an ef of 20-25 % and severe global left ventricular hypokinesis with moderate to severe mitral regurgitation and moderate left ventricular dilatation .
mild pulmonary artery systolic hypertension with preserved right ventricular systolic function .
given the above findings a cardiac cta angiogram was done and an incidental finding of multiple bilateral pulmonary emboli were found which he was started on lovenox and coumadin .
his coronary arteries were normal .
he was discharged to home with of hearts monitor and will follow-up with cardiology as an outpatient .
he will follow-up with dr. in 2 weeks , and his pcp will manage his coumadin medications on admission : flonase , tessalone , benadryl , mvi , zyflo , singular , fosamax , advair , vitamin d2 , mucinex discharge medications : 1 .
zileuton 600 mg tab , multiphasic release 12 hr sig : two ( 2 ) tab , multiphasic release 12 hr po bid ( ) .
2 .
docusate sodium 100 mg capsule sig : one ( 1 ) capsule po bid ( 2 times a day ) .
3 .
montelukast 10 mg tablet sig : one ( 1 ) tablet po daily ( daily ) .
4 .
fluticasone 50 mcg/actuation spray , suspension sig : one ( 1 ) spray nasal ( 2 times a day ) .
5 .
fluticasone-salmeterol 250-50 mcg/dose disk with device sig : one ( 1 ) disk with device inhalation ( 2 times a day ) .
6 .
senna 8.6 mg tablet sig : 1-2 tablets po bid ( 2 times a day ) .
7 .
acetaminophen 325 mg tablet sig : 1-2 tablets po q6h ( every 6 hours ) as needed for fever/headache .
8 .
coumadin 2 mg tablet sig : one ( 1 ) tablet po once a day .
disp : *30 tablet ( s ) * refills : *2* 9 .
lisinopril 5 mg tablet sig : one ( 1 ) tablet po daily ( daily ) .
disp : *30 tablet ( s ) * refills : *2* 10 .
metoprolol succinate 50 mg tablet sustained release 24 hr sig : one ( 1 ) tablet sustained release 24 hr po daily ( daily ) .
disp : *30 tablet sustained release 24 hr ( s ) * refills : *2* 11 .
amiodarone 200 mg tablet sig : one ( 1 ) tablet po once a day : start .
disp : *30 tablet ( s ) * refills : *2* 12 .
amiodarone 400 mg tablet sig : one ( 1 ) tablet po once a day for 6 days .
disp : *6 tablet ( s ) * refills : *0* 13 .
outpatient lab work inr check sunday then 2-3 times weekly or directed by dr. .
phone : fax : 14 .
hydromorphone 2 mg tablet sig : 1-2 tablets po q3h ( every 3 hours ) as needed for pain .
disp : *75 tablet ( s ) * refills : *0* 15 .
enoxaparin 80 mg/0.8 ml syringe sig : one ( 1 ) subcutaneous q12 ( ) .
disp : *12 * refills : *2* 16 .
lipitor 10 mg tablet sig : one ( 1 ) tablet po once a day .
disp : *30 tablet ( s ) * refills : *1* 17 .
fosamax 70 mg tablet sig : one ( 1 ) tablet po once a week .
discharge disposition : home with service facility : vna and hospice of northern discharge diagnosis : severe asthma , recurrent pna , chronic sinusitis , nasal polyps , gerd , osteoporosis , tracheobronchomalacia s/p tracheobronchoplasty post-operative atrial fibrillation ef 20-25 % bilateral subsegmental pulmonary emboli discharge condition : good discharge instructions : call dr. office if you develop chest pain , shortness of breath , fever , chills , green or brown productive cough , redness or drainage from your chest incision .
you are on new heart medications and cholesterol lowering medication as well as a blood thinner called coumadin .
your pcp .
will be managing your coumadin medication .
you will need to have frequent blood monitoring of this medication .
inr levels will be checked and then your doctor will advise you regarding the dosing of your coumadin .
you will have your inr blood work drawn on sunday .
lovenox 80 mg twice daily : continue until inr 2.0 or greater then stop followup instructions : you have a follow up appointment with dr. on the clinical center at 2pm .
please arrive 45 minutes prior to your appointment and report to the radiology for a chest xray .
you have a follow up appointment with dr. and dr. ( cardiologists ) at 11:40am 7 completed by :

In [30]:
query = query_schema + """
SELECT *
FROM icustays
"""
df = pd.read_sql_query(query, con)
df.head()

,row_id,subject_id,hadm_id,icustay_id,dbsource,first_careunit,last_careunit,first_wardid,last_wardid,intime,outtime,los
0,365,268,110404,280836,carevue,MICU,MICU,52,52,2198-02-14 23:27:38,2198-02-18 05:26:11,3.2490
1,366,269,106296,206613,carevue,MICU,MICU,52,52,2170-11-05 11:05:29,2170-11-08 17:46:57,3.2788
2,367,270,188028,220345,carevue,CCU,CCU,57,57,2128-06-24 15:05:20,2128-06-27 12:32:29,2.8939
3,368,271,173727,249196,carevue,MICU,SICU,52,23,2120-08-07 23:12:42,2120-08-10 00:39:04,2.0600
4,369,272,164716,210407,carevue,CCU,CCU,57,57,2186-12-25 21:08:04,2186-12-27 12:01:13,1.6202

In [3]:
# check_all_tables_query = "SELECT * FROM tables;"
# all_tables = pd.read_sql_query(check_all_tables_query,con)

In [4]:
query = query_schema + """
SELECT *
FROM icustays
LIMIT 10
"""
df = pd.read_sql_query(query, con)
df.head()

,row_id,subject_id,hadm_id,icustay_id,dbsource,first_careunit,last_careunit,first_wardid,last_wardid,intime,outtime,los
0,365,268,110404,280836,carevue,MICU,MICU,52,52,2198-02-14 23:27:38,2198-02-18 05:26:11,3.2490
1,366,269,106296,206613,carevue,MICU,MICU,52,52,2170-11-05 11:05:29,2170-11-08 17:46:57,3.2788
2,367,270,188028,220345,carevue,CCU,CCU,57,57,2128-06-24 15:05:20,2128-06-27 12:32:29,2.8939
3,368,271,173727,249196,carevue,MICU,SICU,52,23,2120-08-07 23:12:42,2120-08-10 00:39:04,2.0600
4,369,272,164716,210407,carevue,CCU,CCU,57,57,2186-12-25 21:08:04,2186-12-27 12:01:13,1.6202

In [5]:
query = query_schema + """
SELECT *
FROM icustays
where subject_id=42210 
"""
df = pd.read_sql_query(query, con)
df.head()

,row_id,subject_id,hadm_id,icustay_id,dbsource,first_careunit,last_careunit,first_wardid,last_wardid,intime,outtime,los
0,42074,42210,117994,281393,metavision,SICU,SICU,33,33,2193-02-11 21:32:36,2193-02-19 17:36:09,7.8358

In [6]:
query = query_schema + """
SELECT *
FROM admissions
where subject_id=42210 
"""
df = pd.read_sql_query(query, con)
df.head()

,row_id,subject_id,hadm_id,admittime,dischtime,deathtime,admission_type,admission_location,discharge_location,insurance,language,religion,marital_status,ethnicity,edregtime,edouttime,diagnosis,hospital_expire_flag,has_chartevents_data
0,40490,42210,117994,2193-02-11 21:31:00,2193-02-25 17:50:00,None,EMERGENCY,EMERGENCY ROOM ADMIT,HOME,Medicaid,SPAN,CATHOLIC,MARRIED,HISPANIC/LATINO - DOMINICAN,2193-02-11 18:39:00,2193-02-11 23:05:00,SUBARACHNIOD HEMORRHAGE,0,1
1,40491,42210,192837,2193-04-10 07:15:00,2193-04-10 22:14:00,None,ELECTIVE,PHYS REFERRAL/NORMAL DELI,HOME,Medicaid,SPAN,CATHOLIC,MARRIED,HISPANIC/LATINO - DOMINICAN,NaT,NaT,CEREBRAL ANEURYSM/SDA,0,0

In [7]:
query = query_schema + """
SELECT *
FROM noteevents
where subject_id=42210 
"""
df = pd.read_sql_query(query, con)
df.head()

,row_id,subject_id,hadm_id,chartdate,charttime,storetime,category,description,cgid,iserror,text
0,39025,42210,117994.0,2193-02-25,NaT,NaT,Discharge summary,Report,NaN,None,Admission Date: [**2193-2-11**] ...
1,723774,42210,117994.0,2193-02-18,2193-02-18 05:31:00,2193-02-18 05:31:39,Nursing,Nursing Progress Note,19169.0,None,Subarachnoid hemorrhage (SAH)\n Assessment:\...
2,723996,42210,117994.0,2193-02-19,2193-02-19 06:01:00,2193-02-19 09:32:14,Physician,Intensivist Note,16145.0,None,"TITLE:\n SICU\n HPI:\n 45F w severe H/A,..."
3,723943,42210,117994.0,2193-02-19,2193-02-19 02:57:00,2193-02-19 02:57:23,Nursing,Nursing Progress Note,20581.0,None,Subarachnoid hemorrhage (SAH)\n Assessment:\...
4,723817,42210,117994.0,2193-02-18,2193-02-18 06:03:00,2193-02-18 08:35:13,Physician,Intensivist Note,16545.0,None,"SICU\n HPI:\n 45F w severe H/A, vomitting;..."

In [8]:
df.iloc[0]["text"]

"Admission Date:  [**2193-2-11**]              Discharge Date:   [**2193-2-25**]\n\nDate of Birth:  [**2147-6-3**]             Sex:   F\n\nService: NEUROSURGERY\n\nAllergies:\nPatient recorded as having No Known Allergies to Drugs\n\nAttending:[**First Name3 (LF) 78**]\nChief Complaint:\nheadache\n\nMajor Surgical or Invasive Procedure:\n[**2193-2-11**]: EVD placement\n\n\nHistory of Present Illness:\n45F known only for HTN (treated) found to have very severe h/a\nand vomitting on [**2-11**]. CT head at OSH shows SAH and patient is\ntransferred to [**Hospital1 18**] for further eval.\n\n\nPast Medical History:\nHTN\n\nSocial History:\nnon-contributory\n\nFamily History:\nnon-contributory\n\nPhysical Exam:\nOn Admission:\n127/77  55  15  100%\nSleepy but arousable; spanish speaking only;\nFollows simple commands w all 4 ext.\nTalks very minimally; able to tell her name but not location or\ntime.\nPERLA, EOMI;\nFace symetric;\nTongue midline;\nMoves all 4 ext symetrically and with full strength;\nNo pronator drift;\nNeck tenderness;\n\nOn Discharge:\nNon focal\n\nPertinent Results:\nLabs on admission:\n[**2193-2-11**] 06:42PM BLOOD WBC-20.7* RBC-4.71 Hgb-10.6* Hct-34.8*\nMCV-74* MCH-22.5* MCHC-30.5* RDW-16.8* Plt Ct-476*\n[**2193-2-11**] 06:42PM BLOOD Neuts-91.3* Lymphs-7.0* Monos-1.5* Eos-0\nBaso-0.1\n[**2193-2-11**] 06:42PM BLOOD PT-12.7 PTT-28.3 INR(PT)-1.1\n[**2193-2-11**] 06:42PM BLOOD Glucose-144* UreaN-8 Creat-0.7 Na-136\nK-4.0 Cl-102 HCO3-16* AnGap-22*\n[**2193-2-12**] 01:56AM BLOOD Calcium-8.6 Phos-2.6* Mg-1.6\n[**2193-2-12**] 01:56AM BLOOD Phenyto-10.6\n\nIMAGING:\nCT/A Head [**2193-2-11**]:\nCT HEAD: Again seen is diffuse bilateral subarachnoid hemorrhage\nwithin the sylvian fissures, basilar cisterns, prepontine and\nambient cisterns. Again seen are small bilateral hyperdense\ncollections layering within the occipital horns. There is\npersistent effacement of the cortical sulci. The ventricular\nsystem is unchanged in size and configuration. [**Doctor Last Name **]-white matter\ndifferentiation is preserved. There is no evidence of acute\nterritorial infarction. Again noted is a mucous retention cyst\nin the right maxillary sinus. There is mild mucosal thickening\ninvolving both maxillary sinuses and several bilateral ethmoid\nair cells. No evidence of fracture.\nCTA HEAD: The vertebral arteries are codominant and patent.\nThere is a 2.5 mm outpouching of the V4 segment of the left\nvertebral artery which may involve the PICA origin (image 188\nseries 2; image 26 series 300b,image 21 series 301b). There is\npossible infundibular dilatation or ectasia involving the\nbasilar artery at the origins of the superior cerebellar\narteries. The intracranial internal carotid, anterior, middle,\nand posterior cerebral arteries are patent without evidence of\nocclusion, high-grade stenosis, aneurysm, or arteriovenous\nmalformation. No additional aneurysms are identified.\nCTA NECK:\nThe origins of the great vessels at the level of the aortic arch\nare\nunremarkable. The paired vertebral arteries are patent in their\nentirety.\nAgain seen is the 2.5 mm outpouching involving the V4 segment of\nthe left\nvertebral artery. The extracranial common, internal, and\nexternal carotid\narteries are normal in course and caliber without evidence of\nhigh-grade\nstenosis or occlusion. There are dependent atelectatic changes,\nleft greater than right. There are mild degenerative changes of\nthe cervical spine, most pronounced at C5-6.\nIMPRESSION:\n1. 2.5 mm outpouching of the V4 segment of the left vertebral\nartery which\nmay involve the PICA origin.\n2. Stable extensive bilateral subarachnoid hemorrhage with mild\ndilatation of the lateral ventricles, unchanged since the prior\nexamination.\n\n[**2193-2-20**] CT brain\nIMPRESSION:\n\n1. Mild increase in ventricular size following drain clamping.\n\n2. Evolving SAH and left PICA aneurysm clip.\n\n3. Persistent left parietal hyperdensity likely represents a\nvascular\nmalformation. MR can be ordered for further characterization.\n\n\nBrief Hospital Course:\nPatient began experiencing a sever headache and vomiting and\npresented to OSH on [**2193-2-11**] and was found to have SAH on CT with\na basilar tip aneurysm.  She was trasnferred to [**Hospital1 18**] for\nfurther management.  She was lethargic but arousable and\nfollowing simple commands upon presentation.  Due to her CT\nresults an EVD was emergently placed by Dr. [**First Name4 (NamePattern1) **] [**Last Name (NamePattern1) **].  She was\nstarted on Nimodopine for vasospasm prohylaxis and on the\nmorning of [**2193-2-12**] she underwent cerebral angiogram which showed\na left PICA aneurysm which was subsequently coiled. After the\nangiogram she was transferred to the ICU where she was placed on\nvasospasm watch.\n\nShe remained stable in the ICU and her exam slowly improved.  On\n[**2-13**] she was awake and oriented to her self, location, and date\nand strength was full but was slightly lethargic and a language\nbarrier was present as she is spanish speaking only.  On [**2193-2-15**]\nher exam remained stable and she was much more awake and\ninteractive with the exam.  Her EVD was raised to 25. On\n[**2193-2-16**] it was noted that EVD was slightly pulled out on\nimaging thus resecured with staples. On [**2193-2-17**] the EVD was\nclamped at 10am and began to experience ICP recordings in the\n20's, max was 38- EVD was reopened. She had a second clamping\ntrial and the EVD was successfully removed on [**2-21**]. In the\nafternoon, it was noted that CSF was draining from the EVD site\nin which staples and dermabond was used to close the incision\nmore accurately. It was unsuccessful, CSF continued to drain\nfrom the site and sutures were placed to create better closure\nof incision. Patient was asked to cough and no CSF was observed.\n\n\nPatient was again evaluated by PT for stairs, and they\ndetermined over the weekend that she was not yet ready to be\ndischarged to home where she has 3 flights of stairs to climb.\nTHey reevaluated the patient on monday, [**2193-2-25**] and found that\nshe was safe for discharge - she agrees with the plan. Her\nincision remains dry.\n\nMedications on Admission:\nNone\n\nDischarge Medications:\n1. Aspirin 325 mg Tablet Sig: One (1) Tablet PO DAILY (Daily).\nDisp:*30 Tablet(s)* Refills:*2*\n2. Tramadol 50 mg Tablet Sig: One (1) Tablet PO Q4H (every 4\nhours) as needed for headache.\nDisp:*30 Tablet(s)* Refills:*0*\n3. Docusate Sodium 100 mg Capsule Sig: One (1) Capsule PO BID (2\ntimes a day): Use while taking Tramadol.\nDisp:*60 Capsule(s)* Refills:*2*\n\n\nDischarge Disposition:\nHome with Service\n\nDischarge Diagnosis:\natraumatic SAH, left PICA aneurysm\n\n\nDischarge Condition:\nNeurologically Stable\n\n\nDischarge Instructions:\nGENERAL INSTRUCTIONS\nWOUND CARE\n??????\tYou or a family member should inspect your wound every day and\nreport any of the following problems to your physician.\n??????\tKeep your incision clean and dry.\n??????\tYou may wash your hair with a mild shampoo 24 hours after your\nsutures are removed.\n??????\tDo NOT apply any lotions, ointments or other products to your\nincision.\n??????\tDO NOT DRIVE until you are seen at the first follow up\nappointment.\n??????\tDo not lift objects over 10 pounds until approved by your\nphysician.\n[**Name10 (NameIs) **]\n[**Name Initial (NameIs) **] normal well balanced [**Name Initial (NameIs) **] is recommended for recovery, and you\nshould resume any specially prescribed [**Name Initial (NameIs) **] you were eating\nbefore your surgery.\nMEDICATIONS:\n??????\tTake all of your medications as ordered.  You do not have to\ntake pain medication unless it is needed.  It is important that\nyou are able to cough, breathe deeply, and is comfortable enough\nto walk.\n??????\tDo not use alcohol while taking pain medication.\n??????\tMedications that may be prescribed include:\n-Narcotic pain medication such as Dilaudid (hydromorphone).\n\t-An over the counter stool softener for constipation (Colace or\nDocusate). If you become constipated, try products such as\nDulcolax, Milk of Magnesia, first, and then Magnesium Citrate or\nFleets enema if needed). Often times, pain medication and\nanesthesia can cause constipation.\n\nACTIVITY:\nThe first few weeks after you are discharged you may feel tired\nor fatigued. This is normal. You should become a little stronger\nevery day. Activity is the most important measure you can take\nto prevent complications and to begin to feel like yourself\nagain. In general:\n??????\tFollow the activity instructions given to you by your doctor\nand therapist.\n??????\tIncrease your activity slowly; do not do too much because you\nare feeling good.\n??????\tYou may resume sexual activity as your tolerance allows.\n??????\tIf you feel light headed or fatigued after increasing\nactivity, rest, decrease the amount of activity that you do, and\nbegin building your tolerance to activity more slowly.\n??????\tDO NOT DRIVE until you speak with your physician.\n??????\tDo not lift objects over 10 pounds until approved by your\nphysician.\n??????\tAvoid any activity that causes you to hold your breath and\npush, for example weight lifting, lifting or moving heavy\nobjects, or straining at stool.\n??????\t   Do your breathing exercises every two hours.\n??????\t   Use your incentive spirometer 10 times every hour that you\nare awake.\n\nWHEN TO CALL YOUR SURGEON:\nWith any surgery there are risks of complications. Although your\nsurgery is over, there is the possibility of some of these\ncomplications developing. These complications include:\ninfection, blood clots, or neurological changes. Call your\nPhysician Immediately if you Experience:\n\n??????\tConfusion, fainting, blacking out, extreme fatigue, memory\nloss, or difficulty speaking.\n??????\tDouble, or blurred vision. Loss of vision, either partial or\ntotal.\n??????\tHallucinations\n??????\tNumbness, tingling, or weakness in your extremities or face.\n??????\tStiff neck, and/or a fever of 101.5F or more.\n??????\tSevere sensitivity to light. (Photophobia)\n??????\tSevere headache or change in headache.\n??????\tSeizure\n??????\tProblems controlling your bowels or bladder.\n??????\tProductive cough with yellow or green sputum.\n??????\tSwelling, redness, or tenderness in your calf or thigh.\n\nCall 911 or go to the Nearest Emergency Room if you Experience:\n??????\tSudden difficulty in breathing.\n??????\tNew onset of seizure or change in seizure, or seizure from\nwhich you wake up confused.\n??????\tA seizure that lasts more than 5 minutes.\n\nImportant Instructions Regarding Emergencies and After-Hour\nCalls\n??????\tIf you have what you feel is a true emergency at any time,\nplease present immediately to your local emergency room, where a\ndoctor there will evaluate you and contact us if needed. Due to\nthe complexity of neurosurgical procedures and treatment of\nneurosurgical problems, effective advice regarding emergency\nsituations cannot be given over the telephone.\n??????\tShould you have a situation which is not life-threatening, but\nyou feel needs addressing before normal office hours or on the\nweekend, please present to the local emergency room, where the\nphysician there will evaluate you and contact us if needed.\n\n\nFollowup Instructions:\nFollow-Up Appointment Instructions\n\n??????Please return to the office on or about 2/29/[**2193**] for removal\nof your sutures and a wound check. Please make this appointment\nby calling [**Telephone/Fax (1) 1669**]. If you live quite a distance from our\noffice, please make arrangements for the same, with your PCP.\n??????([**Telephone/Fax (1) 88**] Dr. [**First Name (STitle) **], - an appointment had been made for\nyou to be seen in 4 weeks.\n*       You will have an [**First Name (STitle) 4338**]/MRA of teh brain before this\nappointment.\n\nProvider: [**Name10 (NameIs) 4338**] Phone:[**Telephone/Fax (1) 327**] Date/Time:[**2193-3-28**] 2:00\nProvider: [**Name10 (NameIs) **] [**Last Name (NamePattern4) 7746**], MD Phone:[**Telephone/Fax (1) 3666**]\nDate/Time:[**2193-3-28**] 3:15\n\n\n\nCompleted by:[**2193-2-25**]"

In [9]:
df.columns

Index(['row_id', 'subject_id', 'hadm_id', 'chartdate', 'charttime',
       'storetime', 'category', 'description', 'cgid', 'iserror', 'text'],
      dtype='object')

In [10]:
query = query_schema + """
SELECT *
FROM icustay_detail
LIMIT 10
"""
df = pd.read_sql_query(query, con)
df.head()

,subject_id,hadm_id,icustay_id,gender,dod,admittime,dischtime,los_hospital,age,ethnicity,ethnicity_grouped,admission_type,hospital_expire_flag,hospstay_seq,first_hosp_stay,intime,outtime,los_icu,icustay_seq,first_icu_stay
0,2,163353,243653,M,NaT,2138-07-17 19:04:00,2138-07-21 15:48:00,3.8639,0.0022,ASIAN,asian,NEWBORN,0,1,True,2138-07-17 21:20:07,2138-07-17 23:32:21,0.0918,1,True
1,3,145834,211552,M,2102-06-14,2101-10-20 19:08:00,2101-10-31 13:58:00,10.7847,76.5268,WHITE,white,EMERGENCY,0,1,True,2101-10-20 19:10:11,2101-10-26 20:43:09,6.0646,1,True
2,4,185777,294638,F,NaT,2191-03-16 00:28:00,2191-03-23 18:41:00,7.7590,47.8450,WHITE,white,EMERGENCY,0,1,True,2191-03-16 00:29:31,2191-03-17 16:46:31,1.6785,1,True
3,5,178980,214757,M,NaT,2103-02-02 04:31:00,2103-02-04 12:15:00,2.3222,0.0005,ASIAN,asian,NEWBORN,0,1,True,2103-02-02 06:04:24,2103-02-02 08:06:00,0.0844,1,True
4,6,107064,228232,F,NaT,2175-05-30 07:15:00,2175-06-15 16:00:00,16.3646,65.9407,WHITE,white,ELECTIVE,0,1,True,2175-05-30 21:30:54,2175-06-03 13:39:54,3.6729,1,True

In [11]:
df.columns

# we will definitely need to join it with other variables
# for instance, we need glucose_mean and other variables!

Index(['subject_id', 'hadm_id', 'icustay_id', 'gender', 'dod', 'admittime',
       'dischtime', 'los_hospital', 'age', 'ethnicity', 'ethnicity_grouped',
       'admission_type', 'hospital_expire_flag', 'hospstay_seq',
       'first_hosp_stay', 'intime', 'outtime', 'los_icu', 'icustay_seq',
       'first_icu_stay'],
      dtype='object')

In [12]:
adult_icu_query = query_schema + """
SELECT * from icustays
"""

In [13]:
adult_icu = pd.read_sql_query(query, con)

In [14]:
adult_icu.head()

,subject_id,hadm_id,icustay_id,gender,dod,admittime,dischtime,los_hospital,age,ethnicity,ethnicity_grouped,admission_type,hospital_expire_flag,hospstay_seq,first_hosp_stay,intime,outtime,los_icu,icustay_seq,first_icu_stay
0,2,163353,243653,M,NaT,2138-07-17 19:04:00,2138-07-21 15:48:00,3.8639,0.0022,ASIAN,asian,NEWBORN,0,1,True,2138-07-17 21:20:07,2138-07-17 23:32:21,0.0918,1,True
1,3,145834,211552,M,2102-06-14,2101-10-20 19:08:00,2101-10-31 13:58:00,10.7847,76.5268,WHITE,white,EMERGENCY,0,1,True,2101-10-20 19:10:11,2101-10-26 20:43:09,6.0646,1,True
2,4,185777,294638,F,NaT,2191-03-16 00:28:00,2191-03-23 18:41:00,7.7590,47.8450,WHITE,white,EMERGENCY,0,1,True,2191-03-16 00:29:31,2191-03-17 16:46:31,1.6785,1,True
3,5,178980,214757,M,NaT,2103-02-02 04:31:00,2103-02-04 12:15:00,2.3222,0.0005,ASIAN,asian,NEWBORN,0,1,True,2103-02-02 06:04:24,2103-02-02 08:06:00,0.0844,1,True
4,6,107064,228232,F,NaT,2175-05-30 07:15:00,2175-06-15 16:00:00,16.3646,65.9407,WHITE,white,ELECTIVE,0,1,True,2175-05-30 21:30:54,2175-06-03 13:39:54,3.6729,1,True

In [15]:
# join on hadam (the hospital admissions)
# check: joining in postgresql faster than joining in pandas

hadm_query = query_schema + \\

'''
SELECT * 
from ADMISSIONS
'''

In [16]:
hadm_data = pd.read_sql_query(hadm_query,con)

In [17]:
# we could try and get patient embeddings for the mimic patient as well! Since it seems like we will have to at least get 
# lookups for dealing with the categorical embeddings: religion embedding! 
# actually: in general, we can always get categorical embeddings! (automatically)
# but: categorical embedding for decision trees etc. (do some clustering by country etc.)

# cogsci: religion embedding! 

# even just a cleaning on the diagnosis column would be super useful!

In [18]:
hadm_data

,row_id,subject_id,hadm_id,admittime,dischtime,deathtime,admission_type,admission_location,discharge_location,insurance,language,religion,marital_status,ethnicity,edregtime,edouttime,diagnosis,hospital_expire_flag,has_chartevents_data
0,21,22,165315,2196-04-09 12:26:00,2196-04-10 15:54:00,NaT,EMERGENCY,EMERGENCY ROOM ADMIT,DISC-TRAN CANCER/CHLDRN H,Private,None,UNOBTAINABLE,MARRIED,WHITE,2196-04-09 10:06:00,2196-04-09 13:24:00,BENZODIAZEPINE OVERDOSE,0,1
1,22,23,152223,2153-09-03 07:15:00,2153-09-08 19:10:00,NaT,ELECTIVE,PHYS REFERRAL/NORMAL DELI,HOME HEALTH CARE,Medicare,None,CATHOLIC,MARRIED,WHITE,NaT,NaT,CORONARY ARTERY DISEASE\CORONARY ARTERY BYPASS...,0,1
2,23,23,124321,2157-10-18 19:34:00,2157-10-25 14:00:00,NaT,EMERGENCY,TRANSFER FROM HOSP/EXTRAM,HOME HEALTH CARE,Medicare,ENGL,CATHOLIC,MARRIED,WHITE,NaT,NaT,BRAIN MASS,0,1
3,24,24,161859,2139-06-06 16:14:00,2139-06-09 12:48:00,NaT,EMERGENCY,TRANSFER FROM HOSP/EXTRAM,HOME,Private,None,PROTESTANT QUAKER,SINGLE,WHITE,NaT,NaT,INTERIOR MYOCARDIAL INFARCTION,0,1
4,25,25,129635,2160-11-02 02:06:00,2160-11-05 14:55:00,NaT,EMERGENCY,EMERGENCY ROOM ADMIT,HOME,Private,None,UNOBTAINABLE,MARRIED,WHITE,2160-11-02 01:01:00,2160-11-02 04:27:00,ACUTE CORONARY SYNDROME,0,1
5,26,26,197661,2126-05-06 15:16:00,2126-05-13 15:00:00,NaT,EMERGENCY,TRANSFER FROM HOSP/EXTRAM,HOME,Medicare,None,CATHOLIC,SINGLE,UNKNOWN/NOT SPECIFIED,NaT,NaT,V-TACH,0,1
6,27,27,134931,2191-11-30 22:16:00,2191-12-03 14:45:00,NaT,NEWBORN,PHYS REFERRAL/NORMAL DELI,HOME,Private,None,CATHOLIC,None,WHITE,NaT,NaT,NEWBORN,0,1
7,28,28,162569,2177-09-01 07:15:00,2177-09-06 16:00:00,NaT,ELECTIVE,PHYS REFERRAL/NORMAL DELI,HOME HEALTH CARE,Medicare,None,CATHOLIC,MARRIED,WHITE,NaT,NaT,CORONARY ARTERY DISEASE\CORONARY ARTERY BYPASS...,0,1
8,29,30,104557,2172-10-14 14:17:00,2172-10-19 14:37:00,NaT,URGENT,TRANSFER FROM HOSP/EXTRAM,HOME HEALTH CARE,Medicare,None,CATHOLIC,MARRIED,UNKNOWN/NOT SPECIFIED,NaT,NaT,UNSTABLE ANGINA\CATH,0,1
9,30,31,128652,2108-08-22 23:27:00,2108-08-30 15:00:00,2108-08-30 15:00:00,EMERGENCY,TRANSFER FROM HOSP/EXTRAM,DEAD/EXPIRED,Medicare,None,CATHOLIC,MARRIED,WHITE,NaT,NaT,STATUS EPILEPTICUS,1,1
10,31,32,175413,2170-04-04 08:00:00,2170-04-23 12:45:00,NaT,ELECTIVE,PHYS REFERRAL/NORMAL DELI,HOME,Medicaid,None,UNOBTAINABLE,None,WHITE,NaT,NaT,TRACHEAL STENOSIS/SDA,0,1
11,32,33,176176,2116-12-23 22:30:00,2116-12-27 12:05:00,NaT,EMERGENCY,EMERGENCY ROOM ADMIT,HOME,Medicare,None,PROTESTANT QUAKER,MARRIED,UNKNOWN/NOT SPECIFIED,2116-12-23 14:42:00,2116-12-23 23:41:00,SEPSIS;TELEMETRY,0,1
12,33,34,115799,2186-07-18 16:46:00,2186-07-20 16:00:00,NaT,EMERGENCY,TRANSFER FROM HOSP/EXTRAM,HOME,Medicare,ENGL,CATHOLIC,MARRIED,WHITE,NaT,NaT,CHEST PAIN\CATH,0,1
13,34,34,144319,2191-02-23 05:23:00,2191-02-25 20:20:00,NaT,EMERGENCY,CLINIC REFERRAL/PREMATURE,HOME HEALTH CARE,Medicare,ENGL,CATHOLIC,MARRIED,WHITE,2191-02-23 04:23:00,2191-02-23 07:25:00,BRADYCARDIA,0,1
14,35,35,166707,2122-02-10 11:15:00,2122-02-20 15:30:00,NaT,ELECTIVE,PHYS REFERRAL/NORMAL DELI,HOME HEALTH CARE,Medicare,None,CATHOLIC,DIVORCED,WHITE,NaT,NaT,AORTIC VALVE DISEASE\CORONARY ARTERY BYPASS GR...,0,1
15,36,36,182104,2131-04-30 07:15:00,2131-05-08 14:00:00,NaT,EMERGENCY,CLINIC REFERRAL/PREMATURE,HOME HEALTH CARE,Medicare,ENGL,NOT SPECIFIED,MARRIED,WHITE,NaT,NaT,CORONARY ARTERY DISEASE\CORONARY ARTERY BYPASS...,0,1
16,37,36,122659,2131-05-12 19:49:00,2131-05-25 13:30:00,NaT,EMERGENCY,EMERGENCY ROOM ADMIT,REHAB/DISTINCT PART HOSP,Medicare,ENGL,NOT SPECIFIED,MARRIED,WHITE,2131-05-12 17:26:00,2131-05-12 22:17:00,CHEST PAIN/SHORTNESS OF BREATH,0,1
17,38,36,165660,2134-05-10 11:30:00,2134-05-20 13:16:00,NaT,ELECTIVE,PHYS REFERRAL/NORMAL DELI,LONG TERM CARE HOSPITAL,Medicare,ENGL,NOT SPECIFIED,MARRIED,WHITE,NaT,NaT,VENTRAL HERNIA/SDA,0,1
18,39,37,188670,2183-08-21 16:48:00,2183-08-26 18:54:00,NaT,EMERGENCY,EMERGENCY ROOM ADMIT,HOME HEALTH CARE,Medicare,None,JEWISH,MARRIED,WHITE,2183-08-21 05:58:00,2183-08-21 17:45:00,CONGESTIVE HEART FAILURE,0,1
19,40,38,185910,2166-08-10 00:28:00,2166-09-04 11:30:00,NaT,EMERGENCY,TRANSFER FROM HOSP/EXTRAM,LONG TERM CARE HOSPITAL,Medicare,None,CATHOLIC,WIDOWED,WHITE,NaT,NaT,ACUTE MYOCARDIAL INFARCTION-SEPSIS,0,1
20,41,39,106266,2114-11-29 21:04:00,2114-12-09 15:10:00,NaT,NEWBORN,PHYS REFERRAL/NORMAL DELI,HOME,Private,None,NOT SPECIFIED,None,UNKNOWN/NOT SPECIFIED,NaT,NaT,NEWBORN,0,1
21,42,41,101757,2132-12-31 10:30:00,2133-01-27 15:45:00,NaT,ELECTIVE,PHYS REFERRAL/NORMAL DELI,DISC-TRAN TO FEDERAL HC,Private,None,PROTESTANT QUAKER,SINGLE,WHITE,NaT,NaT,RIGHT BRAIN STEM LESION/SDA,0,1
22,456,357,174486,2197-12-06 07:13:00,2198-01-03 14:00:00,NaT,EMERGENCY,EMERGENCY ROOM ADMIT,REHAB/DISTINCT PART HOSP,Private,ENGL,NOT SPECIFIED,MARRIED,WHITE,2197-12-06 06:28:00,2197-12-06 07:43:00,GASTROINTESTINAL BLEED,0,1
23,457,357,145674,2198-08-02 04:49:00,2198-10-26 14:55:00,NaT,EMERGENCY,EMERGENCY ROOM ADMIT,REHAB/DISTINCT PART HOSP,Private,ENGL,NOT SPECIFIED,MARRIED,WHITE,2198-08-02 02:03:00,2198-08-02 05:37:00,SEIZURE,0,1
24,458,357,122609,2198-11-01 22:36:00,2198-11-14 14:20:00,NaT,EMERGENCY,EMERGENCY ROOM ADMIT,REHAB/DISTINCT PART HOSP,Private,ENGL,NOT SPECIFIED,MARRIED,WHITE,2198-11-01 18:01:00,2198-11-01 23:06:00,SEPSIS,0,1
25,459,357,101651,2199-10-20 12:05:00,2199-10-23 17:30:00,NaT,EMERGENCY,EMERGENCY ROOM ADMIT,SNF,Private,ENGL,NOT SPECIFIED,MARRIED,WHITE,2199-10-20 09:34:00,2199-10-20 13:25:00,PNEUMONIA,0,1
26,460,357,117876,2199-12-21 22:37:00,2200-01-18 11:45:00,NaT,EMERGENCY,EMERGENCY ROOM ADMIT,SNF,Private,ENGL,NOT SPECIFIED,MARRIED,WHITE,2199-12-21 20:38:00,2199-12-22 00:01:00,ALTERED MENTAL STATUS,0,1
27,461,358,110872,2168-10-24 23:48:00,2168-10-29 03:23:00,NaT,NEWBORN,PHYS REFERRAL/NORMAL DELI,HOME,Private,None,CATHOLIC,None,WHITE,NaT,NaT,NEWBORN,0,1
28,462,359,144265,2176-06-30 03:00:00,2176-07-03 15:12:00,NaT,EMERGENCY,TRANSFER FROM HOSP/EXTRAM,HOME,Self Pay,VIET,BUDDHIST,MARRIED,UNKNOWN/NOT SPECIFIED,NaT,NaT,R/O MYOCARDIAL INFARCTION,0,1
29,463,360,154871,2176-06-25 17:50:00,2176-07-02 14:28:00,NaT,EMERGENCY,EMERGENCY ROOM ADMIT,REHAB/DISTINCT PART HOSP,Medicare,None,PROTESTANT QUAKER,MARRIED,WHITE,2176-06-25 14:13:00,2176-06-25 19:24:00,CEREBROVASCULAR ACCIDENT;TELEMETRY,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
58946,58569,98744,186076,2127-02-24 07:15:00,2127-03-11 17:35:00,NaT,ELECTIVE,PHYS REFERRAL/NORMAL DELI,HOME,Medicare,ENGL,NOT SPECIFIED,MARRIED,WHITE,2127-02-24 05:16:00,2127-02-24 06:38:00,BLADDER MASS/SDA,0,1
58947,58570,98744,156671,2127-03-25 16:52:00,2127-04-02 13:25:00,NaT,EMERGENCY,CLINIC REFERRAL/PREMATURE,HOME HEALTH CARE,Medicare,ENGL,NOT SPECIFIED,MARRIED,WHITE,NaT,NaT,HYDRATION; PAIN MANAGEMENT; INFECTION,0,1
58948,58571,98744,168288,2127-06-10 19:22:00,2127-06-18 11:51:00,NaT,EMERGENCY,EMERGENCY ROOM ADMIT,HOME HEALTH CARE,Medicare,ENGL,NOT SPECIFIED,MARRIED,WHITE,2127-06-10 13:52:00,2127-06-10 21:58:00,FEVER,0,1
58949,58572,98744,116892,2127-06-27 13:30:00,2127-06-27 20:00:00,NaT,ELECTIVE,PHYS REFERRAL/NORMAL DELI,HOME,Medicare,ENGL,NOT SPECIFIED,MARRIED,WHITE,NaT,NaT,RIGHT URETERAL STRICTURE/SDA,0,0
58950,58573,98744,184410,2127-06-30 20:19:00,2127-07-04 14:35:00,NaT,EMERGENCY,EMERGENCY ROOM ADMIT,HOME HEALTH CARE,Medicare,ENGL,NOT SPECIFIED,MARRIED,WHITE,2127-06-30 14:28:00,2127-07-01 04:39:00,ABDOMINAL PAIN,0,1
58951,58574,98744,153703,2127-10-21 12:43:00,2127-10-31 12:35:00,NaT,EMERGENCY,CLINIC REFERRAL/PREMATURE,HOME HEALTH CARE,Medicare,ENGL,NOT SPECIFIED,MARRIED,WHITE,NaT,NaT,SEPSIS,0,1
58952,58575,98744,104396,2128-01-23 07:45:00,2128-02-04 12:07:00,NaT,ELECTIVE,PHYS REFERRAL/NORMAL DELI,HOME HEALTH CARE,Medicare,ENGL,NOT SPECIFIED,MARRIED,WHITE,NaT,NaT,BILATERAL URETERAL OBSTRUCTION/SDA,0,1
58953,58576,98746,150868,2121-06-13 11:04:00,2121-06-16 12:57:00,NaT,EMERGENCY,CLINIC REFERRAL/PREMATURE,HOME,Private,ENGL,EPISCOPALIAN,SINGLE,WHITE,2121-06-13 09:00:00,2121-06-13 12:53:00,LOWER GI BLEED,0,1
58954,58577,98748,122488,2166-12-31 08:00:00,2167-01-05 12:40:00,NaT,ELECTIVE,PHYS REFERRAL/NORMAL DELI,SNF,Medicare,SPAN,OTHER,SINGLE,HISPANIC OR LATINO,NaT,NaT,CORONARY ARTERY DISEASE\CORONARY ARTERY BYPASS...,0,1
58955,58578,98749,158912,2196-05-03 22:54:00,2196-05-06 15:14:00,NaT,EMERGENCY,EMERGENCY ROOM ADMIT,LEFT AGAINST MEDICAL ADVI,Medicaid,ENGL,NOT SPECIFIED,SINGLE,BLACK/AFRICAN AMERICAN,2196-05-03 21:30:00,2196-05-04 01:35:00,DIABETIC KETOACIDOSIS,0,1
58956,58579,98751,156499,2201-06-04 17:17:00,2201-06-08 14:28:00,NaT,EMERGENCY,EMERGENCY ROOM ADMIT,HOME,Medicare,ENGL,NOT SPECIFIED,MARRIED,WHITE,2201-06-04 12:49:00,2201-06-04 19:30:00,HYPOTENSION,0,1
58957,58580,98753,185764,2172-02-11 21:26:00,2172-03-02 08:00:00,2172-03-02 08:00:00,EMERGENCY,CLINIC REFERRAL/PREMATURE,DEAD/EXPIRED,Medicare,ENGL,CATHOLIC,MARRIED,WHITE,2172-02-11 16:49:00,2172-02-11 22:52:00,R/O METASTASIS,1,1
58958,58581,98755,184156,2167-05-17 12:36:00,2167-05-18 17:03:00,NaT,EMERGENCY,EMERGENCY ROOM ADMIT,LONG TERM CARE HOSPITAL,Medicare,ENGL,JEWISH,WIDOWED,WHITE,2167-05-17 10:48:00,2167-05-17 14:02:00,ASTHMA/COPD EXACERBATION,0,1
58959,58582,98758,182231,2119-02-22 08:00:00,2119-02-25 12:45:00,NaT,ELECTIVE,PHYS REFERRAL/NORMAL DELI,HOME,Private,ENGL,NOT SPECIFIED,MARRIED,WHITE,NaT,NaT,CHIARI MALFORMATION/SDA,0,1
58960,58583,98759,109836,2165-05-05 20:56:00,2165-05-08 18:25:00,NaT,EMERGENCY,CLINIC REFERRAL/PREMATURE,HOME,Private,ENGL,CATHOLIC,WIDOWED,WHITE,2165-05-05 17:52:00,2165-05-05 22:53:00,BRAIN ANEURYSM,0,1
58961,58584,98759,175386,2165-06-05 11:30:00,2165-06-07 12:00:00,NaT,ELECTIVE,PHYS REFERRAL/NORMAL DELI,HOME,Private,ENGL,CATHOLIC,WIDOWED,WHITE,NaT,NaT,BRAIN ANEURYSM/SDA,0,1
58962,58585,98761,184477,2186-01-16 10:30:00,2186-01-16 16:30:00,NaT,ELECTIVE,PHYS REFERRAL/NORMAL DELI,HOME,Private,ENGL,CATHOLIC,MARRIED,WHITE,NaT,NaT,GASTROPARESIS\PLACEMENT OF G-TUBE **REMOTE WES...,0,0
58963,58586,98761,182540,2186-02-08 12:30:00,2186-02-08 20:21:00,NaT,ELECTIVE,PHYS REFERRAL/NORMAL DELI,HOME,Medicare,ENGL,CATHOLIC,MARRIED,WHITE,NaT,NaT,SHORT GUT SYNDROME/SDA,0,0
58964,58587,98761,175884,2189-07-10 18:08:00,2189-07-17 14:57:00,NaT,EMERGENCY,CLINIC REFERRAL/PREMATURE,HOME HEALTH CARE,Medicare,ENGL,CATHOLIC,MARRIED,WHITE,2189-07-10 14:46:00,2189-07-10 20:28:00,DEHYDRATION,0,1
58965,58588,98762,192767,2150-06-23 23:16:00,2150-06-30 15:30:00,NaT,EMERGENCY,EMERGENCY ROOM ADMIT,HOME HEALTH CARE,Private,ENGL,CATHOLIC,MARRIED,WHITE,2150-06-23 18:26:00,2150-06-24 00:36:00,ACUTE RENAL FAILURE,0,1
58966,58589,98768,127022,2112-09-15 09:45:00,2112-09-17 08:20:00,2112-09-17 08:20:00,EMERGENCY,CLINIC REFERRAL/PREMATURE,DEAD/EXPIRED,Medicare,ENGL,JEWISH,WIDOWED,WHITE,2112-09-15 09:30:00,2112-09-15 11:46:00,LEUKOCYTOSIS,1,1
58967,58590,98769,141860,2125-02-22 22:18:00,2125-03-05 17:22:00,NaT,EMERGENCY,CLINIC REFERRAL/PREMATURE,SNF,Medicare,ENGL,CATHOLIC,WIDOWED,WHITE,2125-02-22 19:52:00,2125-02-22 22:37:00,ISCHEMIC COLITIS,0,1
58968,58591,98790,187987,2200-10-15 01:58:00,2200-10-25 15:43:00,NaT,EMERGENCY,EMERGENCY ROOM ADMIT,HOME HEALTH CARE,Private,ENGL,NOT SPECIFIED,MARRIED,WHITE,2200-10-14 23:42:00,2200-10-15 04:41:00,JOINT EFFUSION,0,1
58969,58592,98794,190603,2127-11-07 11:00:00,2127-11-11 14:30:00,NaT,ELECTIVE,PHYS REFERRAL/NORMAL DELI,HOME HEALTH CARE,Medicare,ENGL,CATHOLIC,MARRIED,WHITE,NaT,NaT,AORTIC STENOSIS\AORTIC VALVE REPLACEMENT /SDA,0,1
58970,58593,98797,105447,2132-12-24 20:06:00,2132-12-25 12:00:00,2132-12-25 12:00:00,EMERGENCY,EMERGENCY ROOM ADMIT,DEAD/EXPIRED,Medicare,ENGL,CATHOLIC,WIDOWED,WHITE,2132-12-24 18:53:00,2132-12-24 21:41:00,ALTERED MENTAL STATUS,1,1
58971,58594,98800,191113,2131-03-30 21:13:00,2131-04-02 15:02:00,NaT,EMERGENCY,CLINIC REFERRAL/PREMATURE,HOME,Private,ENGL,NOT SPECIFIED,SINGLE,WHITE,2131-03-30 19:44:00,2131-03-30 22:41:00,TRAUMA,0,1
58972,58595,98802,101071,2151-03-05 20:00:00,2151-03-06 09:10:00,2151-03-06 09:10:00,EMERGENCY,CLINIC REFERRAL/PREMATURE,DEAD/EXPIRED,Medicare,ENGL,CATHOLIC,WIDOWED,WHITE,2151-03-05 17:23:00,2151-03-05 21:06:00,SAH,1,1
58973,58596,98805,122631,2200-09-12 07:15:00,2200-09-20 12:08:00,NaT,ELECTIVE,PHYS REFERRAL/NORMAL DELI,HOME HEALTH CARE,Private,ENGL,NOT SPECIFIED,MARRIED,WHITE,NaT,NaT,RENAL CANCER/SDA,0,1
58974,58597,98813,170407,2128-11-11 02:29:00,2128-12-22 13:11:00,NaT,EMERGENCY,EMERGENCY ROOM ADMIT,SNF,Private,ENGL,CATHOLIC,MARRIED,WHITE,2128-11-10 23:48:00,2128-11-11 03:16:00,S/P FALL,0,0
58975,58598,98813,190264,2131-10-25 03:09:00,2131-10-26 17:44:00,NaT,EMERGENCY,CLINIC REFERRAL/PREMATURE,HOME,Private,ENGL,CATHOLIC,MARRIED,WHITE,2131-10-25 00:08:00,2131-10-25 04:35:00,INTRACRANIAL HEMORRHAGE,0,1

In [19]:
lab_events_query = query_schema + \\

'''
SELECT * 
FROM LABEVENTS
LIMIT 100
'''

In [20]:
lab_events = pd.read_sql_query(lab_events_query,con) #this query will take a while to run! (probably due to memory size, more than anything)

In [21]:
lab_events.head() # we will need something that maps it back to itemid

,row_id,subject_id,hadm_id,itemid,charttime,value,valuenum,valueuom,flag
0,281,3,None,50820,2101-10-12 16:07:00,7.39,7.39,units,None
1,282,3,None,50800,2101-10-12 18:17:00,ART,NaN,None,None
2,283,3,None,50802,2101-10-12 18:17:00,-1,-1.00,mEq/L,None
3,284,3,None,50804,2101-10-12 18:17:00,22,22.00,mEq/L,None
4,285,3,None,50808,2101-10-12 18:17:00,0.93,0.93,mmol/L,abnormal

In [22]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import roc_auc_score
from sklearn.metrics import plot_roc_curve

ImportError: cannot import name 'plot_roc_curve'

In [ ]:
import nltk
import string
nltk.download('stopwords')
from nltk.corpus import stopwords
stops = set(stopwords.words('english'))
from sklearn.feature_extraction.text import CountVectorizer, TfidfTransformer