In [1]:
# Import libraries
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import psycopg2

# below imports are used to print out pretty pandas dataframes
from IPython.display import display, HTML

%matplotlib inline
plt.style.use('ggplot')

In [2]:
import psycopg2
user = 'johnchen'
password = 'password'
dbname = 'mimic'
schema = 'mimiciii'
host = 'mimic'
# writing review papers such as: https://arxiv.org/pdf/1911.03977.pdf
query_schema = 'SET search_path to ' + schema + ';'

con = psycopg2.connect(dbname=dbname, user=user, password=password, host=host)

# Let's see what we're dealing with 
For now, do this in PSQL prompt.

In [3]:
# check_all_tables_query = "SELECT * FROM tables;"
# all_tables = pd.read_sql_query(check_all_tables_query,con)

In [19]:
query = query_schema + """
SELECT *
FROM icustays
LIMIT 10
"""
df = pd.read_sql_query(query, con)
df.head()

,row_id,subject_id,hadm_id,icustay_id,dbsource,first_careunit,last_careunit,first_wardid,last_wardid,intime,outtime,los
0,365,268,110404,280836,carevue,MICU,MICU,52,52,2198-02-14 23:27:38,2198-02-18 05:26:11,3.2490
1,366,269,106296,206613,carevue,MICU,MICU,52,52,2170-11-05 11:05:29,2170-11-08 17:46:57,3.2788
2,367,270,188028,220345,carevue,CCU,CCU,57,57,2128-06-24 15:05:20,2128-06-27 12:32:29,2.8939
3,368,271,173727,249196,carevue,MICU,SICU,52,23,2120-08-07 23:12:42,2120-08-10 00:39:04,2.0600
4,369,272,164716,210407,carevue,CCU,CCU,57,57,2186-12-25 21:08:04,2186-12-27 12:01:13,1.6202

In [22]:
query = query_schema + """
SELECT *
FROM icustays
where subject_id=42210 
"""
df = pd.read_sql_query(query, con)
df.head()

,row_id,subject_id,hadm_id,icustay_id,dbsource,first_careunit,last_careunit,first_wardid,last_wardid,intime,outtime,los
0,42074,42210,117994,281393,metavision,SICU,SICU,33,33,2193-02-11 21:32:36,2193-02-19 17:36:09,7.8358

In [23]:
query = query_schema + """
SELECT *
FROM admissions
where subject_id=42210 
"""
df = pd.read_sql_query(query, con)
df.head()

,row_id,subject_id,hadm_id,admittime,dischtime,deathtime,admission_type,admission_location,discharge_location,insurance,language,religion,marital_status,ethnicity,edregtime,edouttime,diagnosis,hospital_expire_flag,has_chartevents_data
0,40490,42210,117994,2193-02-11 21:31:00,2193-02-25 17:50:00,None,EMERGENCY,EMERGENCY ROOM ADMIT,HOME,Medicaid,SPAN,CATHOLIC,MARRIED,HISPANIC/LATINO - DOMINICAN,2193-02-11 18:39:00,2193-02-11 23:05:00,SUBARACHNIOD HEMORRHAGE,0,1
1,40491,42210,192837,2193-04-10 07:15:00,2193-04-10 22:14:00,None,ELECTIVE,PHYS REFERRAL/NORMAL DELI,HOME,Medicaid,SPAN,CATHOLIC,MARRIED,HISPANIC/LATINO - DOMINICAN,NaT,NaT,CEREBRAL ANEURYSM/SDA,0,0

In [5]:
df.columns

Index(['row_id', 'subject_id', 'hadm_id', 'icustay_id', 'dbsource',
       'first_careunit', 'last_careunit', 'first_wardid', 'last_wardid',
       'intime', 'outtime', 'los'],
      dtype='object')

In [6]:
query = query_schema + """
SELECT *
FROM icustay_detail
LIMIT 10
"""
df = pd.read_sql_query(query, con)
df.head()

,subject_id,hadm_id,icustay_id,gender,dod,admittime,dischtime,los_hospital,age,ethnicity,ethnicity_grouped,admission_type,hospital_expire_flag,hospstay_seq,first_hosp_stay,intime,outtime,los_icu,icustay_seq,first_icu_stay
0,2,163353,243653,M,NaT,2138-07-17 19:04:00,2138-07-21 15:48:00,3.8639,0.0022,ASIAN,asian,NEWBORN,0,1,True,2138-07-17 21:20:07,2138-07-17 23:32:21,0.0918,1,True
1,3,145834,211552,M,2102-06-14,2101-10-20 19:08:00,2101-10-31 13:58:00,10.7847,76.5268,WHITE,white,EMERGENCY,0,1,True,2101-10-20 19:10:11,2101-10-26 20:43:09,6.0646,1,True
2,4,185777,294638,F,NaT,2191-03-16 00:28:00,2191-03-23 18:41:00,7.7590,47.8450,WHITE,white,EMERGENCY,0,1,True,2191-03-16 00:29:31,2191-03-17 16:46:31,1.6785,1,True
3,5,178980,214757,M,NaT,2103-02-02 04:31:00,2103-02-04 12:15:00,2.3222,0.0005,ASIAN,asian,NEWBORN,0,1,True,2103-02-02 06:04:24,2103-02-02 08:06:00,0.0844,1,True
4,6,107064,228232,F,NaT,2175-05-30 07:15:00,2175-06-15 16:00:00,16.3646,65.9407,WHITE,white,ELECTIVE,0,1,True,2175-05-30 21:30:54,2175-06-03 13:39:54,3.6729,1,True

In [7]:
df.columns

# we will definitely need to join it with other variables
# for instance, we need glucose_mean and other variables!

Index(['subject_id', 'hadm_id', 'icustay_id', 'gender', 'dod', 'admittime',
       'dischtime', 'los_hospital', 'age', 'ethnicity', 'ethnicity_grouped',
       'admission_type', 'hospital_expire_flag', 'hospstay_seq',
       'first_hosp_stay', 'intime', 'outtime', 'los_icu', 'icustay_seq',
       'first_icu_stay'],
      dtype='object')

In [8]:
adult_icu_query = query_schema + """
SELECT * from icustays
"""

In [9]:
adult_icu = pd.read_sql_query(query, con)

In [10]:
adult_icu.head()

,subject_id,hadm_id,icustay_id,gender,dod,admittime,dischtime,los_hospital,age,ethnicity,ethnicity_grouped,admission_type,hospital_expire_flag,hospstay_seq,first_hosp_stay,intime,outtime,los_icu,icustay_seq,first_icu_stay
0,2,163353,243653,M,NaT,2138-07-17 19:04:00,2138-07-21 15:48:00,3.8639,0.0022,ASIAN,asian,NEWBORN,0,1,True,2138-07-17 21:20:07,2138-07-17 23:32:21,0.0918,1,True
1,3,145834,211552,M,2102-06-14,2101-10-20 19:08:00,2101-10-31 13:58:00,10.7847,76.5268,WHITE,white,EMERGENCY,0,1,True,2101-10-20 19:10:11,2101-10-26 20:43:09,6.0646,1,True
2,4,185777,294638,F,NaT,2191-03-16 00:28:00,2191-03-23 18:41:00,7.7590,47.8450,WHITE,white,EMERGENCY,0,1,True,2191-03-16 00:29:31,2191-03-17 16:46:31,1.6785,1,True
3,5,178980,214757,M,NaT,2103-02-02 04:31:00,2103-02-04 12:15:00,2.3222,0.0005,ASIAN,asian,NEWBORN,0,1,True,2103-02-02 06:04:24,2103-02-02 08:06:00,0.0844,1,True
4,6,107064,228232,F,NaT,2175-05-30 07:15:00,2175-06-15 16:00:00,16.3646,65.9407,WHITE,white,ELECTIVE,0,1,True,2175-05-30 21:30:54,2175-06-03 13:39:54,3.6729,1,True

In [11]:
# join on hadam (the hospital admissions)
# check: joining in postgresql faster than joining in pandas

hadm_query = query_schema + \\

'''
SELECT * 
from ADMISSIONS
'''

In [12]:
hadm_data = pd.read_sql_query(hadm_query,con)

In [13]:
# we could try and get patient embeddings for the mimic patient as well! Since it seems like we will have to at least get 
# lookups for dealing with the categorical embeddings: religion embedding! 
# actually: in general, we can always get categorical embeddings! (automatically)
# but: categorical embedding for decision trees etc. (do some clustering by country etc.)

# cogsci: religion embedding! 

# even just a cleaning on the diagnosis column would be super useful!

In [14]:
hadm_data

,row_id,subject_id,hadm_id,admittime,dischtime,deathtime,admission_type,admission_location,discharge_location,insurance,language,religion,marital_status,ethnicity,edregtime,edouttime,diagnosis,hospital_expire_flag,has_chartevents_data
0,21,22,165315,2196-04-09 12:26:00,2196-04-10 15:54:00,NaT,EMERGENCY,EMERGENCY ROOM ADMIT,DISC-TRAN CANCER/CHLDRN H,Private,None,UNOBTAINABLE,MARRIED,WHITE,2196-04-09 10:06:00,2196-04-09 13:24:00,BENZODIAZEPINE OVERDOSE,0,1
1,22,23,152223,2153-09-03 07:15:00,2153-09-08 19:10:00,NaT,ELECTIVE,PHYS REFERRAL/NORMAL DELI,HOME HEALTH CARE,Medicare,None,CATHOLIC,MARRIED,WHITE,NaT,NaT,CORONARY ARTERY DISEASE\CORONARY ARTERY BYPASS...,0,1
2,23,23,124321,2157-10-18 19:34:00,2157-10-25 14:00:00,NaT,EMERGENCY,TRANSFER FROM HOSP/EXTRAM,HOME HEALTH CARE,Medicare,ENGL,CATHOLIC,MARRIED,WHITE,NaT,NaT,BRAIN MASS,0,1
3,24,24,161859,2139-06-06 16:14:00,2139-06-09 12:48:00,NaT,EMERGENCY,TRANSFER FROM HOSP/EXTRAM,HOME,Private,None,PROTESTANT QUAKER,SINGLE,WHITE,NaT,NaT,INTERIOR MYOCARDIAL INFARCTION,0,1
4,25,25,129635,2160-11-02 02:06:00,2160-11-05 14:55:00,NaT,EMERGENCY,EMERGENCY ROOM ADMIT,HOME,Private,None,UNOBTAINABLE,MARRIED,WHITE,2160-11-02 01:01:00,2160-11-02 04:27:00,ACUTE CORONARY SYNDROME,0,1
5,26,26,197661,2126-05-06 15:16:00,2126-05-13 15:00:00,NaT,EMERGENCY,TRANSFER FROM HOSP/EXTRAM,HOME,Medicare,None,CATHOLIC,SINGLE,UNKNOWN/NOT SPECIFIED,NaT,NaT,V-TACH,0,1
6,27,27,134931,2191-11-30 22:16:00,2191-12-03 14:45:00,NaT,NEWBORN,PHYS REFERRAL/NORMAL DELI,HOME,Private,None,CATHOLIC,None,WHITE,NaT,NaT,NEWBORN,0,1
7,28,28,162569,2177-09-01 07:15:00,2177-09-06 16:00:00,NaT,ELECTIVE,PHYS REFERRAL/NORMAL DELI,HOME HEALTH CARE,Medicare,None,CATHOLIC,MARRIED,WHITE,NaT,NaT,CORONARY ARTERY DISEASE\CORONARY ARTERY BYPASS...,0,1
8,29,30,104557,2172-10-14 14:17:00,2172-10-19 14:37:00,NaT,URGENT,TRANSFER FROM HOSP/EXTRAM,HOME HEALTH CARE,Medicare,None,CATHOLIC,MARRIED,UNKNOWN/NOT SPECIFIED,NaT,NaT,UNSTABLE ANGINA\CATH,0,1
9,30,31,128652,2108-08-22 23:27:00,2108-08-30 15:00:00,2108-08-30 15:00:00,EMERGENCY,TRANSFER FROM HOSP/EXTRAM,DEAD/EXPIRED,Medicare,None,CATHOLIC,MARRIED,WHITE,NaT,NaT,STATUS EPILEPTICUS,1,1
10,31,32,175413,2170-04-04 08:00:00,2170-04-23 12:45:00,NaT,ELECTIVE,PHYS REFERRAL/NORMAL DELI,HOME,Medicaid,None,UNOBTAINABLE,None,WHITE,NaT,NaT,TRACHEAL STENOSIS/SDA,0,1
11,32,33,176176,2116-12-23 22:30:00,2116-12-27 12:05:00,NaT,EMERGENCY,EMERGENCY ROOM ADMIT,HOME,Medicare,None,PROTESTANT QUAKER,MARRIED,UNKNOWN/NOT SPECIFIED,2116-12-23 14:42:00,2116-12-23 23:41:00,SEPSIS;TELEMETRY,0,1
12,33,34,115799,2186-07-18 16:46:00,2186-07-20 16:00:00,NaT,EMERGENCY,TRANSFER FROM HOSP/EXTRAM,HOME,Medicare,ENGL,CATHOLIC,MARRIED,WHITE,NaT,NaT,CHEST PAIN\CATH,0,1
13,34,34,144319,2191-02-23 05:23:00,2191-02-25 20:20:00,NaT,EMERGENCY,CLINIC REFERRAL/PREMATURE,HOME HEALTH CARE,Medicare,ENGL,CATHOLIC,MARRIED,WHITE,2191-02-23 04:23:00,2191-02-23 07:25:00,BRADYCARDIA,0,1
14,35,35,166707,2122-02-10 11:15:00,2122-02-20 15:30:00,NaT,ELECTIVE,PHYS REFERRAL/NORMAL DELI,HOME HEALTH CARE,Medicare,None,CATHOLIC,DIVORCED,WHITE,NaT,NaT,AORTIC VALVE DISEASE\CORONARY ARTERY BYPASS GR...,0,1
15,36,36,182104,2131-04-30 07:15:00,2131-05-08 14:00:00,NaT,EMERGENCY,CLINIC REFERRAL/PREMATURE,HOME HEALTH CARE,Medicare,ENGL,NOT SPECIFIED,MARRIED,WHITE,NaT,NaT,CORONARY ARTERY DISEASE\CORONARY ARTERY BYPASS...,0,1
16,37,36,122659,2131-05-12 19:49:00,2131-05-25 13:30:00,NaT,EMERGENCY,EMERGENCY ROOM ADMIT,REHAB/DISTINCT PART HOSP,Medicare,ENGL,NOT SPECIFIED,MARRIED,WHITE,2131-05-12 17:26:00,2131-05-12 22:17:00,CHEST PAIN/SHORTNESS OF BREATH,0,1
17,38,36,165660,2134-05-10 11:30:00,2134-05-20 13:16:00,NaT,ELECTIVE,PHYS REFERRAL/NORMAL DELI,LONG TERM CARE HOSPITAL,Medicare,ENGL,NOT SPECIFIED,MARRIED,WHITE,NaT,NaT,VENTRAL HERNIA/SDA,0,1
18,39,37,188670,2183-08-21 16:48:00,2183-08-26 18:54:00,NaT,EMERGENCY,EMERGENCY ROOM ADMIT,HOME HEALTH CARE,Medicare,None,JEWISH,MARRIED,WHITE,2183-08-21 05:58:00,2183-08-21 17:45:00,CONGESTIVE HEART FAILURE,0,1
19,40,38,185910,2166-08-10 00:28:00,2166-09-04 11:30:00,NaT,EMERGENCY,TRANSFER FROM HOSP/EXTRAM,LONG TERM CARE HOSPITAL,Medicare,None,CATHOLIC,WIDOWED,WHITE,NaT,NaT,ACUTE MYOCARDIAL INFARCTION-SEPSIS,0,1
20,41,39,106266,2114-11-29 21:04:00,2114-12-09 15:10:00,NaT,NEWBORN,PHYS REFERRAL/NORMAL DELI,HOME,Private,None,NOT SPECIFIED,None,UNKNOWN/NOT SPECIFIED,NaT,NaT,NEWBORN,0,1
21,42,41,101757,2132-12-31 10:30:00,2133-01-27 15:45:00,NaT,ELECTIVE,PHYS REFERRAL/NORMAL DELI,DISC-TRAN TO FEDERAL HC,Private,None,PROTESTANT QUAKER,SINGLE,WHITE,NaT,NaT,RIGHT BRAIN STEM LESION/SDA,0,1
22,456,357,174486,2197-12-06 07:13:00,2198-01-03 14:00:00,NaT,EMERGENCY,EMERGENCY ROOM ADMIT,REHAB/DISTINCT PART HOSP,Private,ENGL,NOT SPECIFIED,MARRIED,WHITE,2197-12-06 06:28:00,2197-12-06 07:43:00,GASTROINTESTINAL BLEED,0,1
23,457,357,145674,2198-08-02 04:49:00,2198-10-26 14:55:00,NaT,EMERGENCY,EMERGENCY ROOM ADMIT,REHAB/DISTINCT PART HOSP,Private,ENGL,NOT SPECIFIED,MARRIED,WHITE,2198-08-02 02:03:00,2198-08-02 05:37:00,SEIZURE,0,1
24,458,357,122609,2198-11-01 22:36:00,2198-11-14 14:20:00,NaT,EMERGENCY,EMERGENCY ROOM ADMIT,REHAB/DISTINCT PART HOSP,Private,ENGL,NOT SPECIFIED,MARRIED,WHITE,2198-11-01 18:01:00,2198-11-01 23:06:00,SEPSIS,0,1
25,459,357,101651,2199-10-20 12:05:00,2199-10-23 17:30:00,NaT,EMERGENCY,EMERGENCY ROOM ADMIT,SNF,Private,ENGL,NOT SPECIFIED,MARRIED,WHITE,2199-10-20 09:34:00,2199-10-20 13:25:00,PNEUMONIA,0,1
26,460,357,117876,2199-12-21 22:37:00,2200-01-18 11:45:00,NaT,EMERGENCY,EMERGENCY ROOM ADMIT,SNF,Private,ENGL,NOT SPECIFIED,MARRIED,WHITE,2199-12-21 20:38:00,2199-12-22 00:01:00,ALTERED MENTAL STATUS,0,1
27,461,358,110872,2168-10-24 23:48:00,2168-10-29 03:23:00,NaT,NEWBORN,PHYS REFERRAL/NORMAL DELI,HOME,Private,None,CATHOLIC,None,WHITE,NaT,NaT,NEWBORN,0,1
28,462,359,144265,2176-06-30 03:00:00,2176-07-03 15:12:00,NaT,EMERGENCY,TRANSFER FROM HOSP/EXTRAM,HOME,Self Pay,VIET,BUDDHIST,MARRIED,UNKNOWN/NOT SPECIFIED,NaT,NaT,R/O MYOCARDIAL INFARCTION,0,1
29,463,360,154871,2176-06-25 17:50:00,2176-07-02 14:28:00,NaT,EMERGENCY,EMERGENCY ROOM ADMIT,REHAB/DISTINCT PART HOSP,Medicare,None,PROTESTANT QUAKER,MARRIED,WHITE,2176-06-25 14:13:00,2176-06-25 19:24:00,CEREBROVASCULAR ACCIDENT;TELEMETRY,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
58946,58569,98744,186076,2127-02-24 07:15:00,2127-03-11 17:35:00,NaT,ELECTIVE,PHYS REFERRAL/NORMAL DELI,HOME,Medicare,ENGL,NOT SPECIFIED,MARRIED,WHITE,2127-02-24 05:16:00,2127-02-24 06:38:00,BLADDER MASS/SDA,0,1
58947,58570,98744,156671,2127-03-25 16:52:00,2127-04-02 13:25:00,NaT,EMERGENCY,CLINIC REFERRAL/PREMATURE,HOME HEALTH CARE,Medicare,ENGL,NOT SPECIFIED,MARRIED,WHITE,NaT,NaT,HYDRATION; PAIN MANAGEMENT; INFECTION,0,1
58948,58571,98744,168288,2127-06-10 19:22:00,2127-06-18 11:51:00,NaT,EMERGENCY,EMERGENCY ROOM ADMIT,HOME HEALTH CARE,Medicare,ENGL,NOT SPECIFIED,MARRIED,WHITE,2127-06-10 13:52:00,2127-06-10 21:58:00,FEVER,0,1
58949,58572,98744,116892,2127-06-27 13:30:00,2127-06-27 20:00:00,NaT,ELECTIVE,PHYS REFERRAL/NORMAL DELI,HOME,Medicare,ENGL,NOT SPECIFIED,MARRIED,WHITE,NaT,NaT,RIGHT URETERAL STRICTURE/SDA,0,0
58950,58573,98744,184410,2127-06-30 20:19:00,2127-07-04 14:35:00,NaT,EMERGENCY,EMERGENCY ROOM ADMIT,HOME HEALTH CARE,Medicare,ENGL,NOT SPECIFIED,MARRIED,WHITE,2127-06-30 14:28:00,2127-07-01 04:39:00,ABDOMINAL PAIN,0,1
58951,58574,98744,153703,2127-10-21 12:43:00,2127-10-31 12:35:00,NaT,EMERGENCY,CLINIC REFERRAL/PREMATURE,HOME HEALTH CARE,Medicare,ENGL,NOT SPECIFIED,MARRIED,WHITE,NaT,NaT,SEPSIS,0,1
58952,58575,98744,104396,2128-01-23 07:45:00,2128-02-04 12:07:00,NaT,ELECTIVE,PHYS REFERRAL/NORMAL DELI,HOME HEALTH CARE,Medicare,ENGL,NOT SPECIFIED,MARRIED,WHITE,NaT,NaT,BILATERAL URETERAL OBSTRUCTION/SDA,0,1
58953,58576,98746,150868,2121-06-13 11:04:00,2121-06-16 12:57:00,NaT,EMERGENCY,CLINIC REFERRAL/PREMATURE,HOME,Private,ENGL,EPISCOPALIAN,SINGLE,WHITE,2121-06-13 09:00:00,2121-06-13 12:53:00,LOWER GI BLEED,0,1
58954,58577,98748,122488,2166-12-31 08:00:00,2167-01-05 12:40:00,NaT,ELECTIVE,PHYS REFERRAL/NORMAL DELI,SNF,Medicare,SPAN,OTHER,SINGLE,HISPANIC OR LATINO,NaT,NaT,CORONARY ARTERY DISEASE\CORONARY ARTERY BYPASS...,0,1
58955,58578,98749,158912,2196-05-03 22:54:00,2196-05-06 15:14:00,NaT,EMERGENCY,EMERGENCY ROOM ADMIT,LEFT AGAINST MEDICAL ADVI,Medicaid,ENGL,NOT SPECIFIED,SINGLE,BLACK/AFRICAN AMERICAN,2196-05-03 21:30:00,2196-05-04 01:35:00,DIABETIC KETOACIDOSIS,0,1
58956,58579,98751,156499,2201-06-04 17:17:00,2201-06-08 14:28:00,NaT,EMERGENCY,EMERGENCY ROOM ADMIT,HOME,Medicare,ENGL,NOT SPECIFIED,MARRIED,WHITE,2201-06-04 12:49:00,2201-06-04 19:30:00,HYPOTENSION,0,1
58957,58580,98753,185764,2172-02-11 21:26:00,2172-03-02 08:00:00,2172-03-02 08:00:00,EMERGENCY,CLINIC REFERRAL/PREMATURE,DEAD/EXPIRED,Medicare,ENGL,CATHOLIC,MARRIED,WHITE,2172-02-11 16:49:00,2172-02-11 22:52:00,R/O METASTASIS,1,1
58958,58581,98755,184156,2167-05-17 12:36:00,2167-05-18 17:03:00,NaT,EMERGENCY,EMERGENCY ROOM ADMIT,LONG TERM CARE HOSPITAL,Medicare,ENGL,JEWISH,WIDOWED,WHITE,2167-05-17 10:48:00,2167-05-17 14:02:00,ASTHMA/COPD EXACERBATION,0,1
58959,58582,98758,182231,2119-02-22 08:00:00,2119-02-25 12:45:00,NaT,ELECTIVE,PHYS REFERRAL/NORMAL DELI,HOME,Private,ENGL,NOT SPECIFIED,MARRIED,WHITE,NaT,NaT,CHIARI MALFORMATION/SDA,0,1
58960,58583,98759,109836,2165-05-05 20:56:00,2165-05-08 18:25:00,NaT,EMERGENCY,CLINIC REFERRAL/PREMATURE,HOME,Private,ENGL,CATHOLIC,WIDOWED,WHITE,2165-05-05 17:52:00,2165-05-05 22:53:00,BRAIN ANEURYSM,0,1
58961,58584,98759,175386,2165-06-05 11:30:00,2165-06-07 12:00:00,NaT,ELECTIVE,PHYS REFERRAL/NORMAL DELI,HOME,Private,ENGL,CATHOLIC,WIDOWED,WHITE,NaT,NaT,BRAIN ANEURYSM/SDA,0,1
58962,58585,98761,184477,2186-01-16 10:30:00,2186-01-16 16:30:00,NaT,ELECTIVE,PHYS REFERRAL/NORMAL DELI,HOME,Private,ENGL,CATHOLIC,MARRIED,WHITE,NaT,NaT,GASTROPARESIS\PLACEMENT OF G-TUBE **REMOTE WES...,0,0
58963,58586,98761,182540,2186-02-08 12:30:00,2186-02-08 20:21:00,NaT,ELECTIVE,PHYS REFERRAL/NORMAL DELI,HOME,Medicare,ENGL,CATHOLIC,MARRIED,WHITE,NaT,NaT,SHORT GUT SYNDROME/SDA,0,0
58964,58587,98761,175884,2189-07-10 18:08:00,2189-07-17 14:57:00,NaT,EMERGENCY,CLINIC REFERRAL/PREMATURE,HOME HEALTH CARE,Medicare,ENGL,CATHOLIC,MARRIED,WHITE,2189-07-10 14:46:00,2189-07-10 20:28:00,DEHYDRATION,0,1
58965,58588,98762,192767,2150-06-23 23:16:00,2150-06-30 15:30:00,NaT,EMERGENCY,EMERGENCY ROOM ADMIT,HOME HEALTH CARE,Private,ENGL,CATHOLIC,MARRIED,WHITE,2150-06-23 18:26:00,2150-06-24 00:36:00,ACUTE RENAL FAILURE,0,1
58966,58589,98768,127022,2112-09-15 09:45:00,2112-09-17 08:20:00,2112-09-17 08:20:00,EMERGENCY,CLINIC REFERRAL/PREMATURE,DEAD/EXPIRED,Medicare,ENGL,JEWISH,WIDOWED,WHITE,2112-09-15 09:30:00,2112-09-15 11:46:00,LEUKOCYTOSIS,1,1
58967,58590,98769,141860,2125-02-22 22:18:00,2125-03-05 17:22:00,NaT,EMERGENCY,CLINIC REFERRAL/PREMATURE,SNF,Medicare,ENGL,CATHOLIC,WIDOWED,WHITE,2125-02-22 19:52:00,2125-02-22 22:37:00,ISCHEMIC COLITIS,0,1
58968,58591,98790,187987,2200-10-15 01:58:00,2200-10-25 15:43:00,NaT,EMERGENCY,EMERGENCY ROOM ADMIT,HOME HEALTH CARE,Private,ENGL,NOT SPECIFIED,MARRIED,WHITE,2200-10-14 23:42:00,2200-10-15 04:41:00,JOINT EFFUSION,0,1
58969,58592,98794,190603,2127-11-07 11:00:00,2127-11-11 14:30:00,NaT,ELECTIVE,PHYS REFERRAL/NORMAL DELI,HOME HEALTH CARE,Medicare,ENGL,CATHOLIC,MARRIED,WHITE,NaT,NaT,AORTIC STENOSIS\AORTIC VALVE REPLACEMENT /SDA,0,1
58970,58593,98797,105447,2132-12-24 20:06:00,2132-12-25 12:00:00,2132-12-25 12:00:00,EMERGENCY,EMERGENCY ROOM ADMIT,DEAD/EXPIRED,Medicare,ENGL,CATHOLIC,WIDOWED,WHITE,2132-12-24 18:53:00,2132-12-24 21:41:00,ALTERED MENTAL STATUS,1,1
58971,58594,98800,191113,2131-03-30 21:13:00,2131-04-02 15:02:00,NaT,EMERGENCY,CLINIC REFERRAL/PREMATURE,HOME,Private,ENGL,NOT SPECIFIED,SINGLE,WHITE,2131-03-30 19:44:00,2131-03-30 22:41:00,TRAUMA,0,1
58972,58595,98802,101071,2151-03-05 20:00:00,2151-03-06 09:10:00,2151-03-06 09:10:00,EMERGENCY,CLINIC REFERRAL/PREMATURE,DEAD/EXPIRED,Medicare,ENGL,CATHOLIC,WIDOWED,WHITE,2151-03-05 17:23:00,2151-03-05 21:06:00,SAH,1,1
58973,58596,98805,122631,2200-09-12 07:15:00,2200-09-20 12:08:00,NaT,ELECTIVE,PHYS REFERRAL/NORMAL DELI,HOME HEALTH CARE,Private,ENGL,NOT SPECIFIED,MARRIED,WHITE,NaT,NaT,RENAL CANCER/SDA,0,1
58974,58597,98813,170407,2128-11-11 02:29:00,2128-12-22 13:11:00,NaT,EMERGENCY,EMERGENCY ROOM ADMIT,SNF,Private,ENGL,CATHOLIC,MARRIED,WHITE,2128-11-10 23:48:00,2128-11-11 03:16:00,S/P FALL,0,0
58975,58598,98813,190264,2131-10-25 03:09:00,2131-10-26 17:44:00,NaT,EMERGENCY,CLINIC REFERRAL/PREMATURE,HOME,Private,ENGL,CATHOLIC,MARRIED,WHITE,2131-10-25 00:08:00,2131-10-25 04:35:00,INTRACRANIAL HEMORRHAGE,0,1

In [15]:
lab_events_query = query_schema + \\

'''
SELECT * 
FROM LABEVENTS
LIMIT 100
'''

In [16]:
lab_events = pd.read_sql_query(lab_events_query,con) #this query will take a while to run! (probably due to memory size, more than anything)

In [17]:
lab_events.head() # we will need something that maps it back to itemid

,row_id,subject_id,hadm_id,itemid,charttime,value,valuenum,valueuom,flag
0,281,3,None,50820,2101-10-12 16:07:00,7.39,7.39,units,None
1,282,3,None,50800,2101-10-12 18:17:00,ART,NaN,None,None
2,283,3,None,50802,2101-10-12 18:17:00,-1,-1.00,mEq/L,None
3,284,3,None,50804,2101-10-12 18:17:00,22,22.00,mEq/L,None
4,285,3,None,50808,2101-10-12 18:17:00,0.93,0.93,mmol/L,abnormal

In [18]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import roc_auc_score
from sklearn.metrics import plot_roc_curve

ImportError: cannot import name 'plot_roc_curve'

In [ ]:
import nltk
import string
nltk.download('stopwords')
from nltk.corpus import stopwords
stops = set(stopwords.words('english'))
from sklearn.feature_extraction.text import CountVectorizer, TfidfTransformer